html, body { 
	height: 100%;
	margin: 0;
	padding: 0;
    background-color: #c2d7e4;
}
.navbar-default {
	background-color: #f0dca6;
}
.navbar-border {
	border-bottom: 1px solid #bbb;
}
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
	font-size: 25px;
}
.navbar-brand {
	float:none;
}
.action-menu {
	margin-top: 2%;
}
.block-action-menu {
	width: 550px;
}
.title-action-menu,
.subtitle-action-menu {
	text-align: center;
	color: #fafafa;
}
.subtitle-action-menu {
	font-style: italic;
	font-size: 15px;
	color: #fafafa;
}
.nav-tabs-action-menu {
	margin-left: 37%;
	margin-top: 7%;
	border-bottom: none;
}
.nav-tabs-action-menu > li > a {
	color: #999999;
}
.nav-tabs-action-menu > li.active > a, 
.nav-tabs-action-menu > li.active > a:focus,
.nav-tabs > li.active > a:hover {
	color: #999999;
	margin: 0;
}
.buy-tab-action-menu,
.rent-tab-action-menu {
	background-color: #e6e6e6;
	border-radius: 4px 4px 0px 0px;
}
.panel-action-menu {
	padding: 20px;
	color: #999999;
	border-radius: 13px;
}
.first-options-action-menu {
	margin-bottom: 20px;
}
.second-options-action-menu,
.third-options-action-menu {
    padding-left: 15px;
    margin-bottom: 10px;
}
.btn-critera-action-menu,
.btn-critera-action-menu:visited,
.btn-critera-action-menu:active {
	color: #999999;
}
.btn-critera-action-menu:hover,
.btn-critera-action-menu:focus {
	background-color: #efefef;
}
.chevron-critera-action-menu {
	margin-left: 10px;
}
.search-action-menu {
    position: absolute;
    margin-left: 340px;
}
.submit-btn-action-menu, 
.submit-btn-action-menu:active,
.submit-btn-action-menu:visited {
    background-color: #f0dca6;
    color: #777;
}
.submit-btn-action-menu:hover,
.submit-btn-action-menu:focus {
	background-color: #ecd38f;
}

.select2-result-repository { padding-top: 4px; padding-bottom: 3px; }
.select2-result-repository__avatar { float: left; width: 60px; margin-right: 10px; }
.select2-result-repository__avatar img { width: 100%; height: auto; border-radius: 2px; }
.select2-result-repository__meta {margin-left: 70px;}
.select2-result-repository__title { color: black; font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
.select2-result-repository__forks, .select2-result-repository__stargazers { margin-right: 1em; }
.select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers { display: inline-block; color: #aaa; font-size: 11px; }
.select2-result-repository__description { font-size: 13px; color: #777; margin-top: 4px; }
.select2-results__option--highlighted .select2-result-repository__title { color: white; }
.select2-results__option--highlighted .select2-result-repository__forks, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers { color: #c6dcef; }

#search-form > div.row.first-options-action-menu > div:nth-child(1) > span {
	width: 237px!important;
}

#search-form > div.filter-box-ad-result.place-box-ad-result > ul > li:nth-child(1) > div > span {
	width: 237px!important;
}

#search-form > div.filter-box-ad-result.place-box-ad-result > ul > li:nth-child(1) > div > span > span.selection > span > ul > li > input {
	width: 237px!important;
}

#search-form > div.row.first-options-action-menu > div:nth-child(1) > span > span.selection > span > ul > li > input {
	width: 237px!important;
}